@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rc17ed');
    src:  url('../fonts') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?rc17ed') format('truetype'),
      url('../fonts/icomoon.woff?rc17ed') format('woff'),
      url('../fonts/icomoon.svg?rc17ed#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  .icon-buscar:before {
    content: "\e901";
  }
  
.icon-search{
    display: none;
}
.icon-menu{
    display: none;
}
body{
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-color:  #d9ecec;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    margin: 0;
}

.conteiner{
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    padding: 0 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1b4965;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    height: 50px;
    display: flex;
    align-items: center;
}

.header li{
    padding: 0 1em;
}
.header ol,li{  
    list-style: none;
    display: flex;
    align-items: center;  
}
ol{
    padding-inline-start: 5px;
}
.header a{
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    
}

.box{
    /* margin: 0px auto; */
    width: auto;
    height: 50px;
    margin: 5px 0;
}
.conteiner1{
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    align-items: center;
    display: flex;
    
}
/* input */
.conteiner1 input#search{
    width: 250px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    font-family: 'Roboto Slab', sans-serif;
}

.conteiner1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .conteiner1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .conteiner1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .conteiner1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 
 /* icono */
.conteiner1 .icon-buscar{
    position: absolute;
    /* top: 50%; */
    margin-left: 5%;
    /* margin-top: 17px; */
    z-index: 1;
    color: #4f5b66;
}
/* efectos del hover */
.conteiner1 input#search:hover, .conteiner1 input#search:focus, .conteiner1 input#search:active{
    outline:none;
    background: #ffffff;
  }
/* .bottomBuscar{
    margin: 0 10px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background-position-y:center ;
    font-size: 15px;
} */
.contact{
    width: 100%;
    height: 100px;
    background-color: #5fa8d3;
    padding: 25px 0;
}
.fotopie{
    width: 80px;
    height: 25px;
}
@media screen and (max-width:1024px){
 
}
@media screen and (max-width:767px){
    .iconos{
        display: flex;
        justify-content: space-between;
        
    }
    
    .icon-menu{
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        /* background-color:  rgba(0, 0, 0, .7); */
        background-color: transparent;
        line-height: 30px;
        text-align: center;
        position: fixed;
        left: 5px;
        top: 5px;
        z-index: 6;
    }
    .icon-search{
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        /* background-color:  rgba(0, 0, 0, .7); */
        background-color: transparent;
        line-height: 30px;
        text-align: center;
        position: fixed;
        right: 5px;
        top: 5px;
        z-index: 6;
    }
    .menu{
        position: fixed;
        background-color: rgba(27,73,101,0.7);
        height: 100vh;
        width: 160px;
        left: -160px;
        top: 0;
        z-index: 5;
        bottom: 0;
    }
    
    .header{
        display: flex;
        /* height: auto;
        text-align: center; */
        justify-content: space-between;
        align-items: initial;
    }
    .header a{
        margin: 25px;
    }
    .menu.is-active{
        left:0
    }
    .box.is-active2{
        right:5px;
    }
    .menu ol{
        display: initial;
        padding-inline-start: 0; 
    }
    .menu ol li{
        height: auto;
    }
    .menu li{
        justify-content: center;
    }
    .box{
        margin: 0 ;
        display: block;
        position: fixed;
        z-index: 5;
        justify-content: center;
        right: 5px;
        top: 5px;
        height: auto;
        right:-200px;
    }
    
    .logo{
        display: initial;
        margin: 0 auto;
    }
    /* .conteiner1{
        display: none;
    } */
    
     .conteiner1{
        
        width: 200px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        align-items: center;
        display: flex;    
    }
    .conteiner1 .icon-buscar{
        display: none;
    }
    .conteiner1 input#search{
        width: 200px;
        height: 30px;
        border-radius: 5px 15px 15px 5px;
        padding-left: 20px;
        padding-right: 40px;
    }    
    /*
    .conteiner1 input#search{
        width: 50px;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        
        padding-left: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        
        
        
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
    }
    
    .conteiner1 input#search::-webkit-input-placeholder {
        color: #65737e;
     }
      
     .conteiner1 input#search:-moz-placeholder { 
        color: #65737e;  
     }
      
     .conteiner1 input#search::-moz-placeholder {  
        color: #65737e;  
     }
      
     .conteiner1 input#search:-ms-input-placeholder {  
        color: #65737e;  
     }
    
     
    .conteiner1 .icon{
        position: absolute;
        margin-left: 5%;
        z-index: 1;
        color: #4f5b66;
    }
    .conteiner1 input#search:hover, .conteiner1 input#search:focus, .conteiner1 input#search:active{
        outline:none;
        width: 300px;
    }
    .conteiner1:hover input#search{
        width: 300px;
    }
    .conteiner1:hover .icon{
        color: #93a293;
    } */
    
}
@media screen and (max-width:480px){
 
}
@media screen and (max-width:320px){
   /* .header{
        display: flex;
        flex-direction: column;
   }
   .header .conteiner{
       flex: 0 1 auto;
   } */
   
}
